Cache
__pycache__
.DS_Store
data
user
models
.venv
logs
build
dist
Worm_detection.spec
notebooks/YOLO_data/test/images
notebooks/YOLO_data/test/labels
notebooks/YOLO_data/train/images
notebooks/YOLO_data/train/labels
notebooks/YOLO_data/val/images
notebooks/YOLO_data/val/labels
Micro-Manager-2.0gamma
Worm_detection
Worm_detection.app
main.spec
notebooks/runs
notebooks/YOLO_data
.env
training/Sephora