pyyaml==6.0.2
pillow==11.3.0
opencv-python==4.12.0.88
numpy==2.2.6
pandas==2.3.1
ultralytics==8.3.170
tifffile==2025.6.11
pymmcore==11.9.0.73.0
python-tsp==0.5.0
joblib==1.5.1
scikit-image==0.24.0
scikit-learn==1.7.1
pyfeats==1.0.1
boruta==0.4.3
shap==0.48.0
optuna==4.4.0
seaborn==0.13.2
skan==0.13.0